<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Modules </h3>
  </div>
  <div class="panel-body">
    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Overview
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
              NgModules configure the injector and the compiler and help organize related things together.<br>
               <br>
              The purpose of NgModules is to declare everything you create in Angular.<br/>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Scopes and Visibility
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
              Components you declare are only usable in the current module. If you need to use them in other modules, you have to export them 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>