
<h1>Databinding Definitions</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Why Databinding?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Without a framework, one would be responsible for pushign data values into the HTML controls and turning user responses into 
        actions and value updates. Without a framework, writing this logic is tedious and error-prone. <br>
        Angular's data-binding mechanism provides a way of coordinating parts of a template with parts of a component. 
        The binding markup to the template html to tell angular how to connect the both sides <br>
        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Interpolation
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        For intropolation, the form is {{interpolation}} and inside the interpolation variable, the value of the components interpolation 
        value replaces the field marked by {{interpolation}}
      </div>
    </div>
  </div>
</div>