<h1>Welcome to TypeScript</h1>
<img class="image-center" alt="TypeScript" src="{{image}}" />
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Getting Started
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            Types enable JavaScript developers to use highly-productive development tools and practices like static checking and code refactoring when developing JavaScript applications.
            <br>
            Developed By Microsoft<br>
            Programming language which <strong>transpiles</strong> into JavaScript. <br>
            <strong>Types</strong> can now be defined for <strong>variables</strong> and/or <strong>return types</strong>. <br>
            <strong>Classes</strong> and <strong>Interfaces</strong> can be defined. <br>
            <strong>Access modifiers</strong> can be provided. <br>
            Supports JavaScript <strong>ES6</strong> notations (let, =>). <br>
            <a target="_blank" href="http://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html">Intro Link</a>

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Project Configuration
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <a target="_blank" href="http://www.typescriptlang.org/docs/handbook/basic-types.html#toc-project-config">Documentation for Project Configuration</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            TypeScript Docs
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
            <a target="_blank" href="https://www.typescriptlang.org/docs/home.html">TypeScript Docs</a>
        </div>
      </div>
    </div>
  </div>