
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Component Definition</h3>
        </div>
        <div class="panel-body">
          <b>Component</b>: {{component}}
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Component Parts</h3>
        </div>
        <div class="panel-body">
          <b>Class</b>: {{componentparts}}
          <li class="list-group-item">{{componentclass}}</li>
          <li class="list-group-item"><img width="40%" src="https://i.stack.imgur.com/AUsyx.png"></li>
        </div>
      </div>
  
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Component Flow</h3>
          </div>
          <div class="panel-body">
        <b>Component Flow</b>: {{componentflow}}
        <li class="list-group-item">{{componentlifecycle}}</li>
        <li class="list-group-item">{{componentlifecyclehoooks}}</li>
        </div>
  </div>
    </div>
