<div class="npm">
  <h1>NPM parts</h1>
  <p>
    npm consists of three distinct components:
  </p>
  <ul>
    <li>the website</li>
    <li>the registry</li>
    <li>the Command Line Interface (CLI)</li>
  </ul>
  <p>
    The website is the primary way developers discover packages, set up profiles, and manage other aspects of their npm experience.
  </p>
  <p>
    The registry is a large database of information about packages.
  </p>
  <p>
    The CLI runs from a terminal. This is how most developers interact with npm.
  </p>

  <h1>What is it used for?</h1>
  <p>
    Use npm for:
  </p>
  <ul>
    <li>Adapt packages to your apps, or incorporate them as they are.</li>
    <li>Download standalone tools you can use right away.</li>
    <li>Run packages without downloading using npx.</li>
    <li>Share code with any npm user, any where.</li>
    <li>Restrict code to specific developers.</li>
    <li>Form virtual teams (orgs).</li>
    <li>Manage multiple versions of code and code dependencies.</li>
    <li>Update applications easily when underlying code is updated.</li>
    <li>Discover multiple ways to solve the same puzzle.</li>
    <li>Find other developers who are working on similar problems.</li>
  </ul>

  <h1>How to find npm packages</h1>
  <p>To find packages, start with the <a href="https://www.npmjs.com">npm website</a>.</p>
  <p>While browsing, you'll find:</p>
  <ul>
    <li>node modules, which can be used on the server side.</li>
    <li>packages that add commands for you to use in the command line.</li>
    <li>packages that can be used on the front end of websites.</li>
  </ul>
  
  <h1>Installing NPM</h1>
  <p>Install NPM from the <a href="https://nodejs.org/en/download/">NPM download page</a>.</p>
  <p>Run <code>node -v</code> to verify it installed successfully and then go into your Angular repo and run <code>npm install</code> to install dependencies.</p>
</div>
