<div class="angular">
    <h1>What is Angular?</h1>
    <p>
        Angular is a platform that makes it easy to build applications with the web. 
        Angular combines declarative templates, dependency injection, 
        end to end tooling, and integrated best practices to solve development challenges.
    </p>

    <p>
        Angular is a framework for building client applications in HTML and 
        either JavaScript or a language like TypeScript that compiles to JavaScript.
        The framework consists of several libraries, some of them core and some optional.
          </p>

  </div>
