<div class="panel panel-default">
   <h3 class="panel-title">Databinding</h3>
  <div class="panel-heading">Interpolation {{interpolation}} </div>
  <div class="panel-body">
    <img src="{{databindingImage}}">
    <ul class="list-group">
      <li class="list-group-item">For One way databinding</li>
      <li class="list-group-item">Interpolation is:
        <strong>Component</strong> to
        <strong>DOM/Template</strong>
      </li>
      <li class="list-group-item">An evaluation (5+21):
        <strong>{{5+21}}</strong>
      </li>
    </ul>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Property Binding[]</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">For One way databinding</li>
      <li class="list-group-item">Interpolation is:
        <strong>Component</strong> to
        <strong>DOM/Template</strong>
      </li>
      <li class="list-group-item">It is also a one-way databinding form </li>
      <li class="list-group-item">
        <div [ngStyle]="objectStyles" (click)="changeStyles()">
          Click me to Toggle styles
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">EventBinding{{EventBinding}}</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">ForEvent handling: {{eventNotation}}</li>
      <li class="list-group-item">Count: {{count}}</li>
      <li class="list-group-item">
        <button class="btn btn-default" (click)="incrementCount()">Click to Increment </button>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Two-Way Binding {{twoWayDataBinding}}</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">To alter user input </li>
      <li class="list-group-item">Count: {{count}}</li>
      <div class="form-group">
        <input [(ngModel)]="user.email" placeholder="Email" class="form-control" />
      </div>
      <div class="form-group">
        <input [(ngModel)]="user.password" type="password" placeholder="Password" class="form-control" />
      </div>
      <li class="list-group-item">
        <div>

        </div>
      </li>

    </ul>
  </div>
</div>