
<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
      <h3 style="text-align: center">
          A function that adds metadata to a class, its members (properties, methods) and function arguments.
        </h3>
    <div class="panel-heading" role="tab" id="headingOne">
      <h2 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Examples
        </a>
      </h2>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <h3 style="text-align: center">
          The following example is a @Component decorator that identifies a class as an Angular component and an @Input decorator applied to the name property of that component. The elided object argument to the @Component decorator would contain the pertinent component metadata.
          </h3>
          <img src="../assets/img/decorator_example.PNG" class="image-center"/>
      </div>
    </div>
  </div>
</div>
