<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">TypeScript</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">Free and Open-source programming language</li>
      <li class="list-group-item">Superset of javascript</li>
      <li class="list-group-item">Gets transpiled/compiled into javasctit</li>
      <li class="list-group-item">Enforces type constraints</li>
      <li class="list-group-item">Also allows usage of the var, let, and const keywards for loosy typed</li>
      <li class="list-group-item">any valid javascript code is valid typescript</li>
      <li class="list-group-item">uses file extention of ".ts"</li>
      <li class="list-group-item">the primary scripting language of angular</li>
      <li class="list-group-item"></li>
    </ul>
  </div>
</div>